* {box-sizing:border-box}
@import "react-slideshow-image/dist/styles.css";
.slideshow{
    width: 100%;
    height: 500px;
    /*overflow:hidden;*/
    margin:0;
    padding:0;
}

.each-slide{
    width: 100%;
    height: 500px;
    position: relative;
}

.gradient{
    position: absolute;
    z-index: 1;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#000000 45%, transparent 70%);
}

.indicators{
    width: 100%;
    top:55%;
    position: absolute;
}

.indicator{
    max-width: 140px;
    max-height:190px;
    cursor:pointer;
    margin:0 10px;
}

.indicator img{
    max-width: 100%;
    max-height:100%;
    border-radius:10px;
    transition:.3s;
    opacity: 0.5;
}

.voteAverage{
    display: inline-block;
    background:yellow;
    color:black;
    padding: 0 10px;
}
.indicator img:hover{
    transition: transform .3s;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);  
    transform: scale(1.2);
    opacity: 1;
}

.indicator.active img{
    transition: transform .3s;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);  
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 10px 2px #000000; 
    box-shadow: 0px 0px 10px 2px #000000;
    border:1px solid white;
    opacity: 1;
}

.slideInfo{
    position:absolute;
    top:25%;
    display: flex;
    z-index: 999;
    width: 40vw;
    margin:0 0 0 150px;
}

.slideInfo div h1{
    font-size: 40px;
}

.slideInfo .playButton{
    color:black;
    display: inline-flex;
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.playButton{
    display: flex;
    align-items: center;
}
.play{
    color:black;
    margin-right:8px;
}
.backdrop_path{
    object-fit: cover;
    height: 100%;
    z-index: -1;
    float: right;
    -moz-box-shadow: inset 10px 10px 50px rgb(0, 0, 0);
    -webkit-box-shadow: inset 10px 10px 50px rgb(0, 0, 0);
    box-shadow: inset 10px 10px 50px rgb(0, 0, 0);
}

.react-slideshow-container .nav{
    color:tomato;
    transition: 0.2s;
}

.react-slideshow-container .nav:hover{
    background: rgba(0, 0, 0, 0.534);
    border-radius:50%;
}

.images-wrap .active{
    height:500px;
}


@media (max-width:550px){
    .slideInfo{
        padding:20px;
        width: 100%;
        margin:0;
    }

    .overview{
        width: 100%;
        height: 100px;
        overflow:hidden;
    }
}

@media (min-width:1920px){
    .gradient{
        background: linear-gradient(to right,#000000 55%, transparent 70%);
    }

    .slideInfo{
        margin:0 0 0 200px
    }
}
