.movieInfo{
    width: 100%;
}
.posterDetails{
    display: flex;
    flex-direction: column;
}
.movieInfoBackground{
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 1%, 100% 1%, 100% 46%, 0 53%);
}

.poster{
    border-radius:10px;
    width: 15vw;
    align-self: flex-start;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
}

.details{
    width: 50%;
    padding:0;
    margin-left:20px;
    margin-top:12%;
}

.synopsis{
    color:#ff6347;
}

.trailer{
    margin-top:20px;
    width: 50vw;
}

.infoMovieTitle{
    margin-bottom:15px;
}

.mainContentInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    top:30%;
}

.contentInfo{
    border:1px solid red;
    display: inline-block;
}

.castCircle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.castCircle img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.slick-slide > div{
    width: 50px;
    height:50px;
    border-radius:50%;
}

.slick-slider{
    margin: 10px 0 20px 20px;
}

.link-genres{
    display: flex;
    flex-direction: column;
    margin-top:5px;
}

.year-info{
    width: max-content;
    background:#ff6347;
    margin:10px 0 12px 0;
}

.trailerText{
    color:#ff6347;
}


@media (min-width:360px) and (max-width:840px){
    .movieInfoBackground{
        clip-path: polygon(0 1%, 100% 1%, 100% 90%, 0 100%);
    }

    .mainContentInfo{
        top:20%;
    }

    .poster{
        width: 30vw;
    }

    .infoMovieTitle{
        font-size: 20px;
    }

    .trailer{
        width: 100%;
        position: absolute;
        left:0;   
    }

    .genreTitle{
        margin: 0 0 0 50px;
    }
}


