.movieGenre{
    margin-top:40px;
    color: white;
}

.linkButton{
    transition:0.2s;
}
.linkButton:hover{
    background:#ff9900;
}

.genreButton{
    padding-top:20px;
}

.activeBtn{
    border-top:2px solid #ff9900;
}