.movieGenre{
    color: white;
}

.genreButton{
    width: max-content;
    padding-top:20px;
}

.activeBtn div{
    border-bottom:1px solid #ee5c42;
}

.linkButton div:hover{
    border-bottom: 1px solid #ee5c42;
}

.movieGenre{
    padding-left:10px;
}