.movieGenre{
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.linkButton{
    padding-top:10px;
    transition:0.2s;
}
.linkButton:hover{
    background:#ff9900;
}

.activeBtn{
    border-top:2px solid #ff9900;
}