@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
a{text-decoration: none;color:white;}
ul{list-style: none;}


.topNav{
    width: 100%;
    position: fixed;
    top:0;
    z-index: 999;
    background:#000000;
}

.fixedBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:rgba(0, 0, 0, 0);
    padding:5px 0;
}

.searchButton{
    display: flex;
    align-items: center;
    height: 30px;
    border:none;
    background:#333333;
    color:white;
    border-radius:0px 5px 5px 0px;
    cursor:pointer;
}

.openSideBar{
    cursor:pointer;
    margin-right:20px;
}

.logoHome{
    color:rgb(255, 255, 255);
    font-size:20px;
    display: flex;
    align-items: center;
    padding:0 10px 0 5px;
    border:2px solid rgba(255, 255, 255, 0.425);
    border-radius:10px;
}

.logoHome > span:first-child{
    font-size: 25px;
    color:#ee5c42;
    display: flex;
    align-items: center;
}

.form{
    display: flex;
    align-items: center;
}

.logoAndBtn{
    display: flex;
    align-items: center;
}

.searchMovie{
    outline: none;
    background:#333333;
    border:none;
    width: 500px;
    height: 30px;
    border-radius:5px 0px 0px 5px;
    color:white;
    padding-left:10px;
}

.profilePic{
    border:1px solid white;
    width: 40px;
    height: 40px;
    background:#333333;
    border-radius:50%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion{
    display: none;
    border:none;
    margin-right:20px;
    background: black;
    color: white;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
    overflow: hidden;
}

.panelOn{
    display: flex;
    flex-direction: column;
    transition: 1s;
}
.panelOn form{
    display: flex;
    align-items: center;
}

.panelOn form input{
    width: 100%;
    outline: none;
    padding:8px 10px;
    background:rgb(36, 36, 36);
    color:white;
    border:none;
}

.searchButton-mobile{
    height: 32px;
    border:none;
    background:rgb(36, 36, 36);
    color:white;
}


@media (max-width:800px) {
    .accordion{
        display: block;
    }
}