@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
a{text-decoration: none;color:white;}
ul{list-style: none;}


.topNav{
    width: 100%;
    position: fixed;
    top:0;
    z-index: 999;
}

.fixedBar{
    background:rgb(0, 0, 0);
}

.logo{
    width: 35px;
}