*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body{
    background:#000000;
    color:white;
}

.side{
    margin-left:10%;
    transition: 0.5s;
}

.mainContent{
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.navbar{
    margin-top:40px;
    background: black;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 15px;
}

.active{
    width: 15%;
    z-index: 999;
}

.closeSidebar{
    position: absolute;
    right: 0;
    display: inline-block;
    cursor:pointer;
}

.blank{display: none;}

.hamburguer{
    display: block;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: #00000000;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f55f44;
}

@media (max-width:800px) {
    .form, .searchMovie, .searchButton:nth-last-child(1){
        display: none;
    }

    .logoAndBtn{
        justify-self: center;
    }
}

@media (max-width:1000px){
    .gradient{
        display: none;
    }

    .backdrop_path{
        width: 100%;
        float: none;
    }
}

